<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat saepe et dolorum! Delectus repellat doloremque deserunt dignissimos ipsum modi voluptate! Distinctio quae officia tempore, ipsam molestias sunt mollitia amet et.</p>
        </section>
        <address>
            <h2 class="footer__title">
                Contato
            </h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-sharp fa-solid fa-phone"></i> (80) 98218-82381</li>
                <li><i class="fa-brands fa-whatsapp"></i> Whatsapp</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Ruan Victor | 2023
    </section>
</footer>
